:root{
  --top1:#467dbb;
  --top2:#1569c9;
}


html{
  box-sizing: border-box;
  
}
*,*::before,*::after{
  box-sizing: inherit;
}

body{
  font-family: 'Fira Sans';
  font-size: 1rem;
  color: #555;
  margin: 0;
  padding: 0;
}

h1,h2,h3,a,p,li,ul{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.header{
  padding:0 20px;
  background: linear-gradient(to right, var(--top1), var(--top2));
  /* clip-path: polygon(50% 0,100% 0,100% 95%,50% 100%,0 95%,0 0); */

}

.navbar{
  display: flex;
  align-items: center;
  height: 3.75rem;
}

.logo{
  color: #fff;
}

.top__navbar{
  display: flex;
  align-items: center;
}

.top__navbar a{
  color: #fff;
  padding-left: 20px;
}

.hero{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, var(--top1), var(--top2));
  width: 100%;
  padding:0.2rem 3.5rem;
  /* clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0); */
  color: #fff;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  text-align: center;
}

.hero__content{
  transform: translate(0px,-50px);
  letter-spacing: 3px;
  font-size: 3em;
  font-weight: 200; 
}


.container{
  position: relative;
  padding-top: 3rem;
}

.row__category{
  text-align: center;
  line-height: 1;
}

.post__row{
  max-width: 60rem;
  margin: 0 auto;
  padding: 0.8rem;
  position: relative;
}

.post__column{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.post__card{
  margin: 1em 0.7em;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background: #1569c9;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
  padding: 1.85rem;
  color: #1569c9;
  align-items: center;
  justify-content: center;
  background:#fcfcfc linear-gradient(135deg, #41B883 10px, rgba(0,0,0,0.01) 0)
}

.post__card:hover{
  transform: translate( 0,-1px)
}